html {
    font-family: 'Open Sans', sans-serif;
    background-color: #F4F3F2;
    scroll-behavior: smooth;
}

#nav {
    position: fixed;
    width: 100%;
}

#welcome-section {
  height: 100vh;
}

.welcome-text {
    padding-top: 8em;
    padding-left: 10em;
}

.welcome-text p {
    max-width: 800px;
    font-size: 25px;
    line-height: 150%;
    margin-left: 5%;
}

p a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

p a:hover {
    color: blue;
    text-decoration: underline;
}

.welcome-text h1 {
    font-size: 60px;
    color: rgb(180, 137, 56);
    margin-left: 3%;
}

.welcome-text h4 {
    font-size: 30px;
}

.welcome-button {
  text-decoration: none;
  font-size: 50px;
  color: rgb(255, 252, 252);
  background-color: rgb(180, 137, 56);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(180, 137, 56);
  padding: 4px;
  border-radius: 10px;
  position: absolute;
  top: 1000px;
  text-align: center;
  margin-left: 31%;
}

.avatar {
  width: 100%;
  height: auto;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

img {
  width: 100%;
  height: auto;
}

.welcome-image {
  position: absolute;
  width: 500px; 
  height: 500px; 
  border-radius: 50%; 
  overflow: hidden;
  float: right;    
  bottom: 550px;
  right: 500px;
}

.sticky-header {
    background-color: #e2e0e0;
    color: #000000;
    position: sticky; /* Apply the sticky positioning */
    top: 0; /* Stick the element to the top of the viewport */
    z-index: 100; /* Ensure the navbar is above other content */
  }
  
  .sticky-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-left: auto;
  }
  
  .sticky-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
  }
  
  .sticky-header li {
    margin-right: 20px;
  }
  
  .sticky-header a {
    text-decoration: none;
    color: #000000;
  }

  .logo {
    color: rgb(247, 166, 112);
  }